---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/home/Banner.astro'
import Featured from '../components/home/Featured.astro'
import Category from '../components/home/Category.svelte'
import NewArrival from '../components/home/NewArrival.svelte'
import Abs from '../components/home/Abs.svelte'
import Products from '../components/home/Products.svelte'
import axiosConfig from "../config/AxiosConfig";
import type { ProductType } from "../types/product";

const newArrivalProducts: ProductType[] = await axiosConfig.get(`${Astro.url.origin}/api/products?limit=4`)
const recommendedProducts: ProductType[] = await axiosConfig.get(`${Astro.url.origin}/api/products?limit=8`)
---

<Layout title={"Welcome to Astro."}>
    <main>
        <Banner/>
        <Featured/>
        <Category/>
        <NewArrival client:load products={newArrivalProducts}/>
        <Abs/>
        <Products client:load products={recommendedProducts}/>
    </main>
</Layout>