---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/home/Banner.astro'
import Featured from '../components/home/Featured.astro'
import Category from '../components/home/Category.svelte'
import NewArrival from '../components/home/NewArrival.svelte'
import Abs from '../components/home/Abs.svelte'
import Products from '../components/home/Products.svelte'

const data: any = Astro.locals;
---

<Layout title={data.title || "Welcome to Astro."}>
    <main>
        <Banner/>
        <Featured/>
        <Category/>
        <NewArrival/>
        <Abs/>
        <Products/>
    </main>
</Layout>

<style>

</style>
